<template>
<q-page class="flex-center bg-grey-2">
    <div class="q-pa-md row">
        O  OrêaSeca tem como objetivo unir pessoas que necessitam de serviços de terceiros <br>
        com pessoas que necessitam realizar tais serviços.  para cadastrar e postar seriços para que os outros vejam, <br>
        você deve se cadastrar nos sistema.
    </div>
    </div>
</q-page>
</template>

<script>
export default {
    data() {
        return {
            lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        }
    },
    computed: {
        smallWindowSize() {
            return this.$q.screen.lt.sm ? true : false
        }
    },
}
</script>

<style lang="css">
fluid-type {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  .fluid-type {
    font-size: calc(14px + 8 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .fluid-type {
    font-size: 22px;
  }
}
</style>
