<template>
<q-page class="flex-center bg-grey-2">
    <div class="q-pa-md row">
        <q-card class="my-card col-xs-12 col-sm-12 col-md-12 col-lg-12" flat bordered>
            <q-card-section :horizontal="!smallWindowSize">
                <q-img class="col-6" src="https://cdn.quasar.dev/img/parallax1.jpg" />
                <q-card-section vertical class="col-6 justify-center q-px-md">
                    <div class="fontsize-16 text-weight-medium text-grey-9 ">Levantar muro</div>
                    <div class="row items-center  text-grey-8 q-mb-sm">
                        <div class="fontsize-11 text-weight-medium text-grey-10 q-pr-xs ">Comentário:</div>
                        <div class="fontsize-11 text-grey-9 q-pr-xs ">Olá, o muro deverá ter dois metros de altura por 3 de comprimento. queremos também reboco.
                        e colocar vidros da parte superior.</div>
                    </div>
                    <div class="row items-center q-mb-sm">
                        <div class="fontsize-11 text-weight-medium text-grey-10 q-pr-xs">Endereço:</div>
                        <div class="fontsize-11 text-grey-8 q-pr-xs ">Rua tupancereta número 137</div>
                    </div>

                    <div class=" fontsize-11 row no-wrap items-center q-mb-sm">
                        <div class="text-weight-medium text-grey-10 q-pr-xs ">Contratante:</div>
                        <div class="text-grey-8 q-pr-xs ">Elvis Huges</div>
                    </div>
                    <div class=" fontsize-11 row no-wrap items-center">
                        <div color="title-background" class=" text-weight-medium text-red-7 q-pr-xs ">Status:</div>
                        <div class=" text-grey-7 q-pr-xs ">aberto</div>

                    </div>

                </q-card-section>
            </q-card-section>
        </q-card>
    </div>
    </div>
</q-page>
</template>

<script>
export default {
    data() {
        return {
            lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        }
    },
    computed: {
        smallWindowSize() {
            return this.$q.screen.lt.sm ? true : false
        }
    },
}
</script>

<style lang="css">
fluid-type {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  .fluid-type {
    font-size: calc(14px + 8 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .fluid-type {
    font-size: 22px;
  }
}
</style>
