<template>
<q-page class="flex-center bg-grey-2">
     <div class="q-pa-md row">
        <q-card class="my-card col-xs-12 col-sm-12 col-md-12 col-lg-12" flat bordered>
            <q-form
                      @submit="onSubmit"
                    >
            <q-card-section :horizontal="!smallWindowSize">
                <div class="col" > <q-img  style="max-width: 100%; height: auto; max-height: 500px;"   class="col-6"  :src="file" /></div>
                <q-card-section vertical class="col-6 justify-center q-px-md">

                    <q-input :rules="[ val => val && val.length > 0 || 'O anuncio deve ter um titulo']" bg-color="grey-2" color="green " outlined v-model="form.title" label="Título" />
                    <q-input :rules="[ val => val && val.length > 0 || 'descreva as atividades do seu trabalho']" class="q-pt-md " v-model="form.description" filled bg-color="grey-2" color="green " clearable type="textarea" label="Descrição breve do trabalho" hint="Descreva a tarefa que deve ser realizada " />
                    <q-input :rules="[ val => val && val.length > 0 || 'o anúnicio deve ter um endereço de localização']" bg-color="grey-2" color="green " class="q-pt-md" outlined v-model="form.andress" label="Endereço" />
                    <q-file
                       :rules="[ val => val && val.length > 0 || 'O anuncio deve ter uma image']"
                       name="file"
                       @input="onFileChange"
                       accept="image/*"
                       label="Imagem"
                       class="q-pt-md"
                       outlined
                       v-model="form.file">
                        <template v-slot:prepend>
                            <q-icon name="attach_file" />
                        </template>
                    </q-file>
                    <q-toggle label="Ativo" v-model="form.status" color="green" />
                </q-card-section>
            </q-card-section>
            <q-card-actions vertical  align="right">
                <q-btn type="submit" size="1.2em" color="teal">
                    <div>Enviar</div>
                </q-btn>
            </q-card-actions>
                   </q-form>

        </q-card>
    </div>
    </div>
</q-page>
</template>

<script>
import apiService from "../service/api.service";
export default {
    data() {
        return {
            key: 'value',
            file:null,
            form: {
                title: "",
                description: '',
                andress: "",
                file: null,
                status: true
            }
        }
    },
    methods: {
        onSubmit() {
        console.log("submit");

        const formData = new FormData();
        formData.append("file", this.form.file);

        apiService.createPost(this.form.title,this.form.description,this.form.andress,
            this.form.status,formData).then((rsp)=>{
                console.log('rsp createPost',rsp);
            })
        },

        onFileChange(file) {
             this.file = URL.createObjectURL(file);
        },
    },
    computed: {
        smallWindowSize() {
            return this.$q.screen.lt.sm ? true : false
        }
    },

}
</script>

<style>

</style>
