<template>
<q-page class="flex-center bg-grey-2">
    <div class="q-pa-md row">
        <div v-for="post in posts" class="q-pa-sm col-xs-12 col-sm-6 col-md-4 col-lg-3" :key="post.id">
            <FeedCard :feedItem="post" :key="post.id" />
        </div>
    </div>
    <q-page-sticky v-if="this.isAuthenticated" position="bottom-right" :offset="[18, 18]">
            <q-btn @click="$router.push({name: 'formItem'})"   fab icon="add" color="light-green-10" />
    </q-page-sticky>
    </div>
</q-page>
</template>

<script>
import FeedCard from "./../components/FeedCard";
import apiService from "../service/api.service";
import { mapGetters,  mapActions } from "vuex";
export default {
    components: {
        FeedCard,
    },
    name: 'PageIndex',
    data() {
        return {
            posts:[],
        }
    },
    created () {
        this.getPosts()
    },
    mounted () {
    },
    methods: {
        getPosts(){
          apiService.getPosts().then((rsp)=>{
            console.log('rsp getPosts',rsp.data.posts);
             this.posts = rsp.data.posts
          })
        },
        addPost(){

        }
    },
    computed: {
         ...mapGetters('auth',['isAuthenticated']),
    }
}
</script>

<style lang="stylus">
.my-card width: 100%
 max-width: 350px

</style>
