<template>
<div>

        <div  >
            <h2 class="flex flex-center" >Login</h2>
        <div />
        <div  class="flex flex-center">
            <div class="q-pa-md" style=" width: 400px">
                <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                    <q-input v-model="form.username" bg-color="grey-2" color="green" outlined label="usuário"></q-input>
                    <q-input type="password" v-model="form.password" bg-color="grey-2" color="green " outlined label="senha"></q-input>
                    <div align="center">
                        <q-btn size="md" label="Entrar" type="submit" color="light-green-10" />
                    </div>
                    <div align="center">
                        <a href="/#/register">ainda não possue cadastro ? </a>
                    </div>
                </q-form>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import { mapState ,mapGetters,  mapActions } from "vuex";
export default {
    computed: {
    },
    data() {
        return {
            form:{
                username:'',
                password:''
            },
            name: null,
            age: null,
            accept: false
        }
    },
    methods: {
        ...mapActions('auth',['loginAuth']),

        onSubmit(){
           this.loginAuth({...this.form}).then((rsp)=>{
             this.$router.push("/")
             this.showNotif('Login efetuado com sucesso !!','secondary')
          }).catch((rsp)=>{
             this.showNotif('Login ou senha incorretos','red')
          })
        },

        showNotif (message,color) {
            this.$q.notify({
                message: message,
                color: color
            })
        },

        onReset() {
            this.name = null
            this.age = null
            this.accept = false
        }
    },


}
</script>

<style>
#wave {
    position: relative;
    height: 70px;
    width: 600px;
    background: #e0efe3;
}

#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
}
</style>
