<template>
<div>
        <div>
            <h2 class="flex flex-center" >Registrar-se</h2>
        <div/>
        <div  class="flex flex-center">
            <div class="q-pa-md" style=" width: 400px">
                <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                    <q-input v-model="form.username" bg-color="grey-2" color="green" outlined label="usuário"></q-input>
                    <q-input v-model="form.fullname" bg-color="grey-2" color="green" outlined label="nome completo"></q-input>
                    <q-input  v-model="form.email" bg-color="grey-2" color="green" outlined label="email"></q-input>
                    <q-input type="password" v-model="form.password" bg-color="grey-2" color="green " outlined label="senha"></q-input>
                    <div align="center">

                        <q-btn size="md" label="Cadastrar" type="submit" color="light-green-10" />
                    </div>

                </q-form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState ,mapGetters,  mapActions } from "vuex";
export default {
    computed: {
    },
    data() {
        return {
            form:{
              username:"",
              fullname:"",
              email:"",
              password:""
            }
        }
    },
    methods: {
        ...mapActions('auth',['registerAuth']),

        onSubmit(){
          this.registerAuth({...this.form}).then((rsp)=>{
             this.$router.push("/")
             this.showNotif('Cadastro efetuado com sucesso !!','secondary')
          }).catch((rsp)=>{
             this.showNotif(rsp,'red')
          })
        },

        onReset() {
            this.name = null
            this.age = null
            this.accept = false
        },
        showNotif (message,color) {
            this.$q.notify({
                message: message,
                color: color
            })
        }
    },
}
</script>

<style>

</style>
