<template>

 <q-drawer
        v-model="drawerState"
        :width="250"
        :breakpoint="500"
        content-class="bg-green-10 text-white"
      >
        <q-scroll-area class="fit">
          <q-list padding class="menu-list">
            <q-item  to="/" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="home" />
              </q-item-section>

              <q-item-section>
                Oreaseca
              </q-item-section>

            </q-item>

            <q-separator color="white" />
            <q-item to="/about" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="inbox" />
              </q-item-section>

              <q-item-section>
                Sobre
              </q-item-section>
            </q-item>
            <q-separator color="white" />
            <q-item v-if="this.isAuthenticated" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="inbox" />
              </q-item-section>

              <q-item-section>
                Sair
              </q-item-section>
            </q-item>
            <q-item @click="login" v-if="!this.isAuthenticated" clickable v-ripple>
              <q-item-section avatar @click="">
                <q-icon name="inbox" />
              </q-item-section>

              <q-item-section>
                Login
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>
</template>

<script>
import { mapGetters,  mapActions } from "vuex";
export default {
    props: {
        drawer: {
            type: Boolean,
            default: false
        },
        setDrawer: Function
    },
  data() {
      return {
      }
  },
  methods: {
    ...mapActions('auth',['logoutAuth']),
      resetarNome() {
        this.name = 'Mathews'
      },
      logout(){
          this.logoutAuth().then(()=>{
             window.location.reload()
             this.showNotif('Logout efetuado com sucesso !!','secondary')
          })
        },
        login(){
          this.$router.push("/login")
        }
  },
  computed: {
    ...mapGetters('auth',['isAuthenticated']),
      drawerState:{
          get(){
           return this.drawer
          },
          set(value){
           return this.setDrawer(value)
          }
      },
      smallWindowSize () {
        return this.$q.screen.lt.sm ? true : false
      }
  },
  watch: {
       smallWindowSize (value) {
          this.setDrawer(false)
       }
    }
}
</script>

<style>

</style>