<template>
<div>
    <q-card @click="$router.push({name: 'feedItem', params: { feedId: feedItem.id }})"
    class=" my-card cursor-pointer relative-position"
    >
        <q-card-section horizontal class="q-pa-sm" style="max-height: 11em;">
            <q-card-section class="col-7">
              <q-img style="max-width: 100%; max-height: 100%;":src="`http://localhost:3000/${feedItem.dirImage}`" />

           </q-card-section>
            <q-card-section class="q-pl-sm q-pt-none q-pb-none col-5 ">
                <div class="col-1">
                    <div class="inline ellipsis text-blue-9">{{feedItem.title}}</div>
                </div>
                <div style="max-height: 4.5em; min-height: 6em;" class="row">
                    <div class="col-12 ellipsis-3-lines">
                        {{feedItem.andress}}
                    </div>
                </div>
                <div class="row no-wrap items-center">
                    <div class="text-overline text-red-7 q-pr-xs ">Status:</div>
                    {{feedItem.status}}
                </div>
            </q-card-section>
        </q-card-section>
    </q-card>
</div>
</template>

<script>
export default {
    props: {
        feedItem: {
            type: Object,
        },
    },
    name: 'EssentialLink',
    data() {
        return {
            expanded: false,
            lorem: ' '
        }

    },
    methods: {
        itemDetails() {
            console.log("detalhe");
        }
    },
}
</script>

<style lang="css" scoped>
.q-card {
border-radius: 13px;
}

</style>
