<template>
<div class="bg-green-4 text-white">

      <q-toolbar >
        <q-btn v-if="smallWindowSize" flat @click="changeDrawer" round dense icon="menu" />
        <q-btn to="/" v-if="!smallWindowSize" stretch flat label="ÔreaSeca" />
        <q-btn to="/about"  v-if="!smallWindowSize" stretch flat label="Sobre" />
        <q-space></q-space>
             <q-input bg-color="grey-2" color="secondary" style="width: 300px;"  outlined borderless dense rounded standout v-model="text" input-class="text-right" class="q-ml-md">
                <template v-slot:append>
                    <q-icon v-if="text === ''" name="search" />
                    <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" />
                </template>
            </q-input>
        <q-btn v-if="this.isAuthenticated && !smallWindowSize" @click="logout" flat round dense icon="logout" />
        <q-btn v-if="!this.isAuthenticated && !smallWindowSize" @click="login" flat round dense icon="login" />
      </q-toolbar>
    </div>
  </div>
</template>

<script>
import { mapGetters,  mapActions } from "vuex";
export default {
    props: {
        drawer: {
            type: Boolean,
            default: false
        },
        setDrawer: Function
    },
    data() {
        return {
            text: ''
        }
    },
    computed: {
         ...mapGetters('auth',['isAuthenticated']),

        smallWindowSize() {
            return this.$q.screen.lt.sm ?
                true :
                false
        }
    },
    methods: {
        ...mapActions('auth',['logoutAuth']),
        changeDrawer() {
            this.setDrawer(!this.drawer)
        },
        logout(){
          this.logoutAuth().then(()=>{
             window.location.reload()
             this.showNotif('Logout efetuado com sucesso !!','secondary')
          })
        },
        login(){
          this.$router.push("/login")
        }
    },
}
</script>

<style>
.q-toolbar {height: 70px}
</style>
